
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 18px;
}

#skills  p {
  color: #bbbe50;
  line-height: 2;
}

/* Top navbar styling */
.navbar {
  background-color: white;
}

.navbar li {
  padding: 0 15px;
  font-size: 30px
}

#navbarNavAltMarkup {
  margin-left: 70px;
}

.connect {
	width: 72px;
	height: 72px;
	margin-top: 10px;
	margin-right: 30px;
}

/* Div with my statement */
#aboutMe {
  margin-top: 210px;
  margin-right: 0;
  margin-left: 0;
  text-align: start;
  font-size: 18px;
  /* font-weight: bold; */
  color: white;
  width: 100%;
  max-height: 375px;
  min-height: 300px;
  background-color: #3c4d99;
  
}

/* Image of Me */
.meImage {
	float: left;
	padding: 0 20px 0px 0;
  margin-top: 20px; 
}

#husky {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin-left: 250px; */
}

#skills {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

#projects {
  margin-top: 20px;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
  background-color: #444;
}

.card-text {
  margin: 20px 80px;
}

#trainingCard {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  width:90%;
  margin: 50px 50px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#whatPeopleSay {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

/* Instagram */

#contact {
  text-align: left;
  font-size: 16px;
}

#footer {
  max-width: 100%;
  width:100%;
  background-color: grey;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 30px;
  padding-top: 30px;
  color: white;
  height: 70px;
  font-size: 14px;
}